*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(182, 182, 182, 0.337);
}
.root{
    margin: 7vh auto auto auto;
    width: 35vw;
    height: 85vh;
    border-radius: 15px;
    padding: 3% 4%;
    font-size: 3vw;
    /* background-image: linear-gradient(to bottom right, rgba(0, 64, 255, 0.604)0% 10%, rgba(1, 179, 137, 0.9) 40% 70%, rgba(0, 174, 168, 0.6)); */
    background-image: linear-gradient(to bottom right, grey 0%, rgba(180, 180, 180, 0.671) 25% 75%, grey 95% 100%);
    border: 1px solid black;
}

/* Navbar / SearchBar */

#container-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-inp{
    background-color: rgba(214, 214, 214, 0.59);
    width: 100%;
    height: 6vh;
    font-size: x-large;
    color: black;
    border-radius: 20px;
    padding: 20px;
    /* margin: 3% 3% 5% 5%; */
    border: 1px solid rgb(157, 157, 157);
    transition: all 300ms;
}

.search-inp:hover{
    background-color: rgba(178, 178, 178, 0);
    scale: 1.1;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}

.search-inp:active{
    border: 1px solid rgb(0, 0, 0);
}

.image-button{
    margin: auto 1vw auto 1vw;
    width:4.5vw;
    height:8vh;
    padding: 2%;
    border-radius: 50%;
    border: 1px solid rgba(142, 142, 142, 0.668);
    background-color: rgba(214, 214, 214, 0.59);
    cursor: pointer;
    transition: all 300ms;
    background-image: url(/images/search.png);
    background-size: 2vw;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 300ms ;
}

.image-button:hover{
    scale: 1.3;
    background-color: rgba(178, 178, 178, 0);
    border: 1px solid black
}


.image-button:active{
    border: 1px solid black;
}


/* Navbar / SearchBar */

/* Main Content */

#main-container{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.image-panel{
    background-color: none;
    margin-top: 2vh;
}

.unit{
    background-color: none;
    margin-bottom: 1vh;
}
.city-name{
    background-color: none;
}

.image-panel, .unit, .city-name{
    text-align: center;
    color: hsl(0, 0%, 40%); 
}

/* Bottom Bar / Bottom Panel */

#bottom-container{
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    font-size: x-large;
}

.speed{
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    justify-content: center;
    align-items: center;
}

.speed .speed-1{
    width: 30%;
} 

.speed-1 img{
    width: 100%;
}

.speed-2 h5{
    margin-left: 1vw;
    font-size: 2.3vw;
    font-weight: 300;
}

.speed-3 h5{
    margin-left: 60px;
    font-size: 1.2rem;
}